streamlit==1.38.0
pandas==2.2.2
requests==2.31.0  # ensure available for fillin.py subprocess
sqlalchemy==1.4.51
psycopg2-binary==2.9.9
plotly==5.22.0
altair==5.3.0
folium==0.18.0
streamlit-folium==0.18.0
geopy==2.4.1
tqdm==4.66.4
watchdog==4.0.0






